.paddingTop{
    padding-top: 50px;

}
.index{
	background:#221F20;
}

.paddingTop150 {
    padding-top: 100px;
}

.icon-color {
    color: #6aa0f7;
}

.edit-page {
    padding-top: 80px;
    padding-bottom: 20px;
}

.edit-page h1 {
    text-align: center;
    color: #586882;
}

.form-item {
    margin-top: 15px;
    color: #4286f4;
}

.apply-page {
    padding-top: 80px;
    padding-bottom: 20px;
}

.apply-page h1 {
    font-size: 30px;
    text-align: center;
    color: #586882;
}

.mg-25 {
    margin-top: 25px;
}